/* Properties for Hawaii page */
.main-hawaii-bg{
    background: url('../assets/Images/hawaii.jpg') center no-repeat;
    height: 62.5rem;
}
.main-iceland-bg {
    background: url('../assets/Images/iceland.jpg') center no-repeat;
    height: 62.5rem;
}
.main-greece-bg {
    background: url('../assets/Images/greece.jpg') center no-repeat;
    height: 62.5rem;
}
.main__slogan {
    color: white;
    font-size: 6.25rem;
    padding: 5% 9% 1% 6%;
    width: 50%;
}

.cards {
    margin: 3%;
    display: flex;
    justify-content: center;
    gap: 4%;
}

.card {
    height: 34.375rem;
    width: 24.375rem;
    background-color: white;
    border-radius: 0.625rem;
}

.card__title {
    font-size: xx-large;
    text-align: center;
    border-bottom: 0.25rem solid;
    width: 21.25rem;
    margin: 1.875rem auto 2.75rem;
}
.card__description {
    text-align: center;
    font-size: x-large;
    padding: 1.25rem;
    background-color: #FEFAF5;
    width: 21.25rem;
    margin: 1.25rem auto;
}
