/* general setting across webpages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'verdana';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
/* navbar style setting */
.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 6.25rem;
    align-items: baseline;
    background-color: #FFFFFF;
    /* position: fixed; */
}

.nav__title {
    padding: 1.25rem;
    color: #335576;
    font-size: x-large
}
.nav__link {
    display: flex;
}
.nav__list {
    padding: 0.938rem;
    font-size: 1.25rem;
}
.nav__list:hover {
    color: #DB7A4E;
}
.nav__list--active {
    text-decoration: underline;
    text-decoration-color: #DB7A4E;
    text-underline-offset: 0.625rem;
    text-decoration-thickness: 0.188rem;
}

/* footer setting across webpages*/
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #FEFAF5;
    padding: 3.75rem;
    margin-left: 1%;
}
.footer__title {
    color: #335576;
    padding-bottom: 1.25rem;
    font-size: x-large;
}
.footer__schedule {
    display: flex;
    column-gap: 3.125rem;
}
.footer__subtitle {
    padding-bottom: 0.625rem;
    color: #DB7A4E;
}
.footer__time {
    color: #335576;
}
.footer__email {
    color: #335576;
}
.footer__svg {
    height: 1.875rem;
    margin: 1.25rem 2.5rem 0 0;
}
