/* hero section */
.hero {
    background-color: #FEFAF5;
    display: flex;
    padding: 2%;
}

.hero__slogan {
    margin: 6.25rem 0 1.25rem 5rem;
    color: #335576;
    max-width: 65%;
    min-width: auto;
    font-size: 2.625rem;
}
.hero__description {
    max-width: 65%;
    min-width: auto;
    margin: 0 0 1.875rem 5rem;
    color: #335576;
}
.hero__button {
    margin-left: 5rem;
    border: none;
    border-radius: 1.25rem;
    background-color: #DB7A4E;
    padding: 0.625rem 1.875rem;
    color: #FEFAF5;
    transition: 0.4s;
}
.hero__button:hover {
    background-color: #335576;
    cursor: pointer;
}
.hero__aside {
    width: 50%;
    display: flex;
    justify-content: center;
}
.hero__aside-img {
    height: 25rem;
}
/* main page properties */
.main {
    margin: 1% 6%;
}
.main__headtitle {
    color: #335576;
    font-size: xx-large;
    padding: 2.5rem 0;
}
/* cards properties */
.cards {
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-bottom: 9%;
}
.card {
    height: 37.5rem;
    width: 24.375rem;
    border-radius: 10px;
    border: 0.063 solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}
.card:hover {
    opacity: 80%;
}

.card__img {
    border-radius: 0.625rem;
    height: 37.5rem;
    width: 24.375rem;
}

.card__title {
    text-align: right;
    padding: 0.938rem;
    font-size: xx-large;
    position: relative;
    bottom: 14%;
    color: #FEFAF5;
    z-index: 1;
}